In [1]:
import pymongo

In [2]:
newCon = pymongo.MongoClient("mongodb://localhost:27017/")

In [3]:
newDB = 'sathiya'

In [4]:
db = newCon[newDB]

In [5]:
newCon.list_database_names()

['admin', 'config', 'local']

In [6]:
col_name = 'lars_kepler'

In [7]:
collection = db[col_name]

In [8]:
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'sathiya'), 'lars_kepler')

In [9]:
my_row = {'Serial No': '9998',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

In [10]:
col = collection.insert_one(my_row)

In [11]:
col.inserted_id

ObjectId('6390a0dc17f1b72cea8631d5')

In [12]:
out = collection.find()

In [13]:
for i in out:
    print(i)

{'_id': ObjectId('6390a0dc17f1b72cea8631d5'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [14]:
my_rows=[
    {'Serial No': '9998',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'},

 {'Serial No': '1000',
 'GRE Score': '310',
 'TOEFL Score': '100',
 'University Rating': '2',
 'SOP': '4.2',
 'LOR': '3.5',
 'CGPA': '9.00',
 'Research': '0',
 'Chance of Admit': '0.70'}]

In [15]:
collection.insert_many(my_rows)

In [16]:
out = collection.find()

In [17]:
for i in out:
    print(i)

{'_id': ObjectId('6390a0dc17f1b72cea8631d5'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390a0e817f1b72cea8631d6'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390a0e817f1b72cea8631d7'), 'Serial No': '1000', 'GRE Score': '310', 'TOEFL Score': '100', 'University Rating': '2', 'SOP': '4.2', 'LOR': '3.5', 'CGPA': '9.00', 'Research': '0', 'Chance of Admit': '0.70'}

In [42]:
output = collection.find().limit(2)

In [43]:
output[2]

{'_id': ObjectId('6390a0e817f1b72cea8631d7'),
 'Serial No': '1000',
 'GRE Score': '310',
 'TOEFL Score': '100',
 'University Rating': '2',
 'SOP': '4.2',
 'LOR': '3.5',
 'CGPA': '9.00',
 'Research': '0',
 'Chance of Admit': '0.70'}

In [33]:
for i in output:
    print(i)

{'_id': ObjectId('6390a0dc17f1b72cea8631d5'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390a0e817f1b72cea8631d6'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [36]:
run = collection.find()

In [39]:
run[1]

{'_id': ObjectId('6390a0e817f1b72cea8631d6'),
 'Serial No': '9998',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

In [44]:
my_rows = [
{'Serial No': '9997',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9996',
 'GRE Score': '336',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.6',
 'Research': '0',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9995',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.5',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9994',
 'GRE Score': '334',
 'TOEFL Score': '119',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.4',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9993',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

]

In [45]:
collection.insert_many(my_rows)

In [46]:
res = collection.find()

In [47]:
for i in res:
    print(i)

{'_id': ObjectId('6390a0dc17f1b72cea8631d5'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390a0e817f1b72cea8631d6'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390a0e817f1b72cea8631d7'), 'Serial No': '1000', 'GRE Score': '310', 'TOEFL Score': '100', 'University Rating': '2', 'SOP': '4.2', 'LOR': '3.5', 'CGPA': '9.00', 'Research': '0', 'Chance of Admit': '0.70'}
{'_id': ObjectId('6390a34e17f1b72cea8631d8'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390a34e17f1b72cea8631d9'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390a34e17f1b72cea8631da'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390a34e17f1b72cea8631db'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390a34e17f1b72cea8631dc'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [48]:
res1 = collection.find({},{'GRE Score','LOR'})

In [49]:
for i in res1:
    print(i)

{'_id': ObjectId('6390a0dc17f1b72cea8631d5'), 'GRE Score': '337', 'LOR': '4.5'}
{'_id': ObjectId('6390a0e817f1b72cea8631d6'), 'GRE Score': '337', 'LOR': '4.5'}
{'_id': ObjectId('6390a0e817f1b72cea8631d7'), 'GRE Score': '310', 'LOR': '3.5'}
{'_id': ObjectId('6390a34e17f1b72cea8631d8'), 'GRE Score': '337', 'LOR': '4.5'}
{'_id': ObjectId('6390a34e17f1b72cea8631d9'), 'GRE Score': '336', 'LOR': '4.5'}
{'_id': ObjectId('6390a34e17f1b72cea8631da'), 'GRE Score': '337', 'LOR': '4.5'}
{'_id': ObjectId('6390a34e17f1b72cea8631db'), 'GRE Score': '334', 'LOR': '4.5'}
{'_id': ObjectId('6390a34e17f1b72cea8631dc'), 'GRE Score': '337', 'LOR': '4.5'}

In [52]:
res1 = collection.find({},{'GRE Score','LOR'}).limit(4)

In [53]:
for i in res1:
    print(i)

{'_id': ObjectId('6390a0dc17f1b72cea8631d5'), 'GRE Score': '337', 'LOR': '4.5'}
{'_id': ObjectId('6390a0e817f1b72cea8631d6'), 'GRE Score': '337', 'LOR': '4.5'}
{'_id': ObjectId('6390a0e817f1b72cea8631d7'), 'GRE Score': '310', 'LOR': '3.5'}
{'_id': ObjectId('6390a34e17f1b72cea8631d8'), 'GRE Score': '337', 'LOR': '4.5'}

In [56]:
res2 = collection.find({'GRE Score':'337'})

In [57]:
for i in res2:
    print(i)

{'_id': ObjectId('6390a0dc17f1b72cea8631d5'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390a0e817f1b72cea8631d6'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390a34e17f1b72cea8631d8'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390a34e17f1b72cea8631da'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390a34e17f1b72cea8631dc'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}